@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  a,
  button {
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.1);
  }

  button:hover{
    transform: scale(1.1);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
